<p>Find your way ist eine Angular-Applikation, um ein TSP (Traveling Salesman Problem; Rundreise-Problem) zu lösen. Die Daten werden mittels einer CSV-Datei hochgeladen.</p>
<p>Die App wurde im Rahmen der <a href="https://www.get-in-it.de/magazin/events/challenges/coding-challenge-2020" target="_blank">get in IT Coding Challenge</a> erstellt.</p>
<div class="contribution-wrapper" fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="16px">
  <mat-divider></mat-divider>
  <h1>Weiterführende Links:</h1>
  <a mat-raised-button color="primary" href="https://nclskfm.github.io" target="_blank">Die App wurde entwickelt von Niclas Kaufmann</a>
  <a mat-raised-button color="primary" href="https://github.com/nclskfm/find-your-way" target="_blank">Projektseite mit ReadMe (DE/EN) & Code</a>
</div>