div.toolbar-wrapper {
  // display: flex;
  // margin: 0;
  padding: 0 8px;
  width: 100%;
  @media (min-width: 810px) {
    margin: auto;
    width: 80%;
    padding: 0;
  }
}

mat-toolbar {
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 51;
}

.title {
  font-size: 150%;
  padding: 0;
}