<mat-toolbar color="primary" class="mat-elevation-z8">
  <div class="toolbar-wrapper" fxLayout="row" fxLayoutAlign="start center">
    <button mat-button class="title" [routerLink]="'/app'">Find Your Way</button>
    <span fxFlex="1 1 auto"></span>
    <button mat-icon-button [matTooltip]="'Informationen über die App'" [routerLink]="'/contribution'">
      <mat-icon>info</mat-icon>
    </button>
    <a mat-icon-button [matTooltip]="'Link zum GitHub Repository'" href="https://github.com/nclskfm/find-your-way" target="_blank">
      <mat-icon svgIcon="github"></mat-icon>
    </a>
  </div>
</mat-toolbar>